################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs/MyFirstConsoleApp/*
/MyFirstConsoleApp/obj/*
/MyFirstConsoleApp/bin/*
/.vs/mate/v17